@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(0deg, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  @media only screen and (max-width: 425px) {
    margin-top: 50%;
    align-items: center;
    height: 100%;
  }

  @media only screen and (min-width: 768px) {
    margin-top: 25%;
    align-items: start;
    height: 100vh;
  }
}

section {
  width: 87%;
  .container-card {
    background-color: #FFFFFF;
    position: relative;
    border-radius: 20px;
    padding: 20px 20px 40px 20px;
  }
  
  .illustration-section {
    width: 100%;
    .card-avatar {
      position: absolute;
      top: -107px;
      width: 73%;
      bottom: 0;
      left: 12%;
    }
    .card-avatar-pattern {
      position: absolute;
      top: 4px;
      width: 73%;
      bottom: 0;
      left: 12%;
    }

    @media screen and (min-width: 425px) {
      .card-avatar {
        top: -123px;
      }
    }

    @media only screen and (min-width: 500px) {
      .card-avatar {
        top: -120px;
        width: 58%;
        left: 20%;
      }
      .card-avatar-pattern {
        top: -2px;
        width: 58%;
        left: 20%;
      }
    }
    @media only screen and (min-width: 600px) {
      .card-avatar {
        top: -120px;
        width: 50%;
        left: 24%;
      }
      .card-avatar-pattern {
        top: -2px;
        width: 50%;
        left: 24%;
      }
    }
    @media only screen and (min-width: 700px) {
      .card-avatar {
        top: -153px;
        width: 50%;
        left: 24%;
      }
      .card-avatar-pattern {
        top: -9px;
        width: 50%;
        left: 24%;
      }
    }
    
  }
  .faqs-section {
    position: relative;
    padding-top: 5em;
    width: 100%;
      @media screen and (min-width: 425px) {
        padding-top: 7em;
      }
      @media screen and (min-width: 375px) {
        padding-top: 6em;
      }
      @media only screen and (min-width: 768px) {
        padding-top: 8em;
      }
    h1 {
      color: hsl(238, 29%, 16%);
      text-align: center;
      font-size: 2em;
      line-height: 15px;
      
    }
    details {
      width: 100%;
      display: block;
      height: 2em;
      border-bottom: 1px solid hsl(240, 5%, 91%);
      padding-top: 0.9em;

      summary {
        color: hsl(237, 12%, 33%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        list-style: none;
        font-size: 0.9em;
        &:hover {
          color: hsl(14, 88%, 65%);
        }
        .icon {
          height: 7px;
          transform: rotate(0deg);
          transition: transform 0.3s ease; 
        }
      }
    
      p {
        color: hsl(240, 6%, 50%);
        font-size: 0.8em;
        width: 100%;
      }
    
    }
    
    details[open] {
      height: 100%;
      border-bottom: 1px solid hsl(240, 5%, 91%);
      padding: 1em 0 0.6em 0;

      summary {
        font-weight: 700;
      }

      main {
        margin-top: 50%;
      }

      .icon {
        transform: rotate(180deg);
      }
    }
  }
}

footer {
  padding-top: 1em;
  .attribution {
    color: #ffffff;
    font-size: 0.7em;
    text-align: center;
    a {
      color: #ffffff;
      &:hover {
        color: hsl(14, 88%, 65%);
        cursor: pointer;
      }
    }
  }
}